.form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

form {
    width: 100%;
    display: flex;
    gap: 32px;

    textarea {
        resize: none;
        font-size: 14px !important;
        height: calc(59px + 38px + 16px);
    }
}

input, select {
    height: 38px;
}
