<nav class="navbar dFlex-SB">
  <a [routerLink]="this.auth.isLoggedIn() ? 'dashboard' : 'login'" class="navbar-logo"><img src="assets/img/logo.png" alt="My App Logo" />smartY</a>
  <div class="navbar-links" *ngIf="this.auth.isLoggedIn()">
    <a routerLink="dashboard">Dashboard</a>
    <a (click)="openBoardList()">My Projects</a>
  </div>
  <div class="d-inline-block" ngbDropdown *ngIf="this.auth.isLoggedIn()" (click)="this.getUserName()">
    <a><img class="profile" src="assets/img/user.png" alt="Profile" ngbDropdownToggle></a>
    <div ngbDropdownMenu>
      <!-- <button ngbDropdownItem routerLink="profile">{{ user ? user.first_name : 'User'}}'s Profile</button> -->
      <button ngbDropdownItem (click)="logout()">Logout</button>
    </div>
  </div>
</nav>