.navbar {
    background-color: darkblue;
    color: #fff;
    padding: 16px 64px;
}

.navbar-logo {
    font-size: 24px;
    color: #fff;

    img {
        width: 50px;
    }
}

.dropdown-menu {
    right: 0;
    left: unset
}

.profile {
    width: 40px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 100%;
}

.navbar-links {
    display: flex;
    gap: 32px;

    a {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }
}