.p-32-64 {
    padding: 32px 64px
}

.dFlex-SB {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dFlex-C {
    display: flex;
    align-items: center;
    justify-content: center;
}